
*{
        box-sizing: border-box;
    }
    body{
        font-size: 17px;
        font-family: "Lucida Sans", sans-serif;
      	background:#456;;
    }
    .container{
        display: grid;
        grid-template-areas:
            'header'
            'search'
            'table';
      	
    }
  	.header h1{
      color: white;
      text-align:center;
      font-size: 40px;
      background-color: black;
  	}
  	.search{
        text-align:right;
     		align-items:right;
    }
  	.search table tr td{
    		border:none;
 		}
    .search #search{
      	border-radius: 4px;
        border: none;
        height:20px;
        margin-bottom: 10px;
        width: 100px;
      	font-style:oblique;
    }
  	#search:hover{
      cursor: pointer;
  	}
  	.table{
        background: #546;
        color:white;
    }
    .table table{
      border-spacing: 17px;
      border-collapse: separate;
      width: 100%;
    }
    .table, th, td{
        border: 1px solid black;
        color: white;
    }
    td{
        border-style: dotted;
        border-radius: 6px;
    }
    th{
        background: #456;
        border-style:dashed;
    }
