    body{
      background: #234;
      height: 100%;
      justify-content:center;
      align-content: center;
      flex-wrap: wrap;
      display:flex;
    }
    h2{
      color:white;
      font-size: 40px;
      font-style: oblique;
    }
    .main{
      background: #567;
      width: 700px;
      height: 400px;
      justify-content:center;
      align-content: center;
      flex-wrap: wrap;
      display:flex;
    }
    .log{
      color: white;
      background: black;
      opacity: .8;
      width: 350px;
      padding-left:2%;
      padding-right:2%;
    }
    #username, #password{
      font-size: 18px;
      width: 100%;
      text-align: center;
      height: 30px;
    }
    #btnlog{
      width:180px;
      font-size:18px;
      font-style:oblique;
      color: white;
      background: black;
    }
    #btnlog:hover{
      cursor: pointer;
      font-size: 17px;
    }
    p{
      text-align: left;
      font-style: italic;
      font-size: 15px;
    }
    a{
      color:white;
      text-decoration:none;
      float: right;
    }
