* {
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
}

h1 {
    text-align: center;
    background-color: white;
    margin: 0px 0px 0px 0px;
}

h2 {
    font-size: 24px;
    ;
    font-style: oblique;
    text-align: center;
    color: aquamarine;
    background-color: black;
    margin: 5px px 20px px;
}

.data {
    background-color: #667;
    width: 100%;
}

.nav {
    font-size: 16px;
    text-align: right;
    margin: 20px 5px 0px 0px;
}

.search {
    margin: 0px 0px 16px 5px;
}

#btnreg,
#btnret,
#btnfpd {
    color: white;
    margin: 8px 0px;
    background-color: rgb(34, 46, 34);
    padding: 5px 10px;
    border-radius: 5px;
}
#logout{
    color: white;
    margin: 8px 0px;
    background-color: #f44336;
    padding: 5px 10px;
    border-radius: 5px;

}

#btndt:hover,
#logout:hover,
#btnreg:hover,
#btnret:hover,
#btnfpd:hover {
    background-color: rgb(70, 90, 70);
    cursor: pointer;
}

.table {
    margin: 5px;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

.data table {
    color: antiquewhite;
}

#mytable {
    font-size: 10.5pt;
}

tr:hover{
    background-color: darkslategray;
}