* {
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
}

h1 {
    text-align: center;
    background-color: white;
    margin: 0px 0px 0px 0px;
}

h2 {
    font-size: 24px;
    ;
    font-style: oblique;
    text-align: center;
    color: aquamarine;
    background-color: black;
    margin: 5px px 20px px;
}

.data {
    background-color: black;
    width: 100%;
    display: block;
}

.nav {
    text-align: right;
    margin: 10px 5px 0px 0px;
    background-color: rgb(72, 87, 72);
    border-radius: 4px;
}
.nav #retv, #pdata, #log{
    margin: 2%;
    display: inline-flex;
    padding: 1%;
    border-radius: 4px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
}
.nav #retv:hover, #pdata:hover, #log:hover{
    background-color: #666;
    cursor: pointer;
}

.search {
    margin: 0px 0px 16px 5px;
}

#btnreg,
#btnret,
#btnfpd {
    color: white;
    margin: 8px 0px;
    background-color: rgb(34, 46, 34);
    padding: 5px 10px;
    border-radius: 5px;
}

#logout {
    color: white;
    margin: 8px 0px;
    background-color: #f44336;
    padding: 5px 10px;
    border-radius: 5px;

}

#btndt:hover,
#logout:hover,
#btnreg:hover,
#btnret:hover,
#btnfpd:hover {
    background-color: rgb(70, 90, 70);
    cursor: pointer;
}

.table {
    margin: 5px;
}

table {
    width: 100%;


}

th {
    color: white;
    border-radius: 4px;
    background-color: rgb(4, 43, 4);
}

td {
    border-collapse: collapse;
    border-radius: 3px;
}

.data table {
    color: white;
    /*vvgvgbvv*/
}

#mytable {
    font-size: 10.5pt;
}

tr:hover {
    background-color: darkslategray;
}

.popup{
    height: 99vh;
    background: #2e2929;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}
label{
    color: white;
    font-size: 24px;
    margin: 1% 0 1% 0;
}
input{
    font-size: 19px;
    padding: 1%;
    text-align: center;
    border-radius: 6px;
    border: none;
    color :red;    
    width: 30%;
}
.btn{
    width: 30%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
#access, #abort{
    font-size: 19px;
    padding: 4%;
    background: black;
    color: white;
    border-radius: 6px;
    border: none;    
    width: 48%;
    margin-bottom: 2%;
    cursor: pointer;
}
button:hover{
    background-color: #666;
}