* {
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
}

h1 {
    text-align: center;
    background-color: white;
    margin: 0px 0px 0px 0px;
}

h2 {
    font-size: 24px;
    ;
    font-style: oblique;
    text-align: center;
    color: aquamarine;
    background-color: black;
    margin: 5px px 20px px;
}

.data {
    background-color: black;
    width: 100%;
}

.nav {
    font-size: 16px;
    text-align: left;
    margin: 10px 5px 0px 0px;
}

.search {
    margin: 0px 0px 16px 5px;
}

#btnreg,
#btnret,
#btnfpd {
    color: white;
    margin: 8px 0px;
    background-color: rgb(34, 46, 34);
    padding: 5px 10px;
    border-radius: 5px;
}

#logout {
    color: white;
    margin: 8px 0px;
    background-color: #f44336;
    padding: 5px 10px;
    border-radius: 5px;

}

#btndt:hover,
#logout:hover,
#btnreg:hover,
#btnret:hover,
#btnfpd:hover {
    background-color: rgb(70, 90, 70);
    cursor: pointer;
}

.table {
    margin: 5px;
}

table {
    width: 100%;


}

th {
    color: white;
    border-radius: 4px;
    background-color: rgb(4, 43, 4);
}

td {
    border-collapse: collapse;
    border-radius: 3px;
}

.data table {
    color: white;
    /*vvgvgbvv*/
}

#mytable {
    font-size: 10.5pt;
}

tr:hover {
    background-color: darkslategray;
}




a {
    font-size: 22px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 3%;
    display: inline-block;
    width: 220px;
    margin-bottom: 2%;
}

ul {
    display: inline;
    margin: 0;
    padding: 0.5%;
}

ul li {
    display: inline-block;
    background: #2e2929;
}
ul li a{
    color: rgb(211, 208, 208);
}

ul li:hover {
    background: #2e2929;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: relative;
    width: 200px;
    display: none;
}

ul li ul li {
    background: #2e2929;
    display: block;
    margin: .5%;
}

ul li ul li a {
    display: block !important;
}

ul li ul li:hover {
    background: #666;
}