* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 2px;
    display: grid;
    /*justify-content: center;*/
    background-color: rgb(5, 15, 36);
    color: white;
}
.container {
    display: grid;
    grid-template-areas:
        
        'login'
        'footer';
    gap: 10px;
    background-color: rgb(5, 15, 36);
    padding: 10px;
}
header{
    width: 100%;
    padding: 15px;
    text-align: center;
   /* background-color: rgb(10, 25, 60);
    margin-top: 1px;
    position: ;
    top: ;
    z-index: ;*/
    
}
.profile{
    /*margin-top: %;*/
    padding: 10px;
    text-align: center;
    background-image: url(.jpg);
    opacity: 0.9;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
}
.slideshow{
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
#slide{
    width: 100%;
    border-radius: 10px;
}
#icon:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 2px white;
}
.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#register, #login{
    width: 150px;
    padding: 10px 15px;
    border: none;
    background-color: rgb(5, 15, 36);
    font-size: 16px;
    border-radius: 5px;
    color: white;
}
#register:hover, #login:hover{
    cursor: pointer;
    background-color: rgb(10, 25, 60);
}
.main{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    background-image: url(lobo.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image{
    display: flex;
    justify-content: center;
    width: 100%;
}
.info{
    padding: 20px;
    text-align: justify;
    background-color: black;
    opacity: 0.8; 
    width: 100%;
}
#mainimg{
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
}
footer{
    text-align: center;
   background-color: rgb(10, 25, 60);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 4%;
}
@media screen and(max-width: 840px) {
    .container {
        grid-template-areas:
            'header'
            'profile'
            'content'
            'main'
            'image'
            'info'
            'footer';
        grid-template-columns: 1fr 3fr;
    }
}
@media screen and (max-width: 840px) {
    .main{
        /*flex-direction: ;*/
        display: block;
    }
    .info{
        width: 100%;
    }
    .image{
        width: 100%;
    }
}