* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    background-image: url("server-room1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-areas:
        'header'
        'profile'
        'content'
        'main'
        'image'
        'info'
        'footer';
    gap: 10px;
    padding: 10px;
}

.login {
    margin: auto;
    width: 50vh;
    border: 3px solid #2d2f3e;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: black;
    background-image: url("login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.retdata {
    margin: auto;
    width: 50vh;
    border: 3px solid #2d2f3e;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #2d2f3e;
    opacity: .9;
}

.register {
    margin: auto;
    width: 50vh;
    border: 3px solid #2d2f3e;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    background-image: url("key.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    text-align: left;
    /*color: #333;/**/
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    height: 5px;
    background-color: green;
}

#uname,
#regno,
#fname,
#mname,
#lname,
#gender,
#uid,
#ustatus,
#uphone,
#name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: .9;
}

#btnlog,
#btndt,
#btnreg1,
#btndel,
#btnupd {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    width: 48%;
}

#logout {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

#btnclear {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    width: 48%;
}

#btnret {
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 1px 0;
    padding: 8px 14px;
    width: 100%;
}

#btnreg {
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 1px 0;
    padding: 8px 14px;
    width: 48%;
}

#logout,
#btnclear,
#btnlog,
#btndt,
#btnreg1,
#btnreg,
#btnret,
#btndel,
#btnupd:hover {
    cursor: pointer;
}




header {
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: rgb(10, 25, 60);
    margin-top: 0px;
}

h1 {
    color: white;
}

#home {
    width: 150px;
    padding: 10px 15px;
    border: none;
    background-color: rgb(10, 25, 60);
    font-size: 18px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    ;
}

#home:hover {
    cursor: pointer;
    background-color: rgb(5, 15, 36);
}

footer {
    padding: 10px;
    text-align: center;
    background-color: rgb(10, 25, 60);
    color: white;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: red;
}